.Titel{
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 50px;
    padding-left: 30px;
}
h1{
    text-align: left;
    border: 3px black solid;
    outline: 0.5rem double rgb(250, 13, 5);
    height: 55px;
    width: 800px;
    top: 10px
}
h2{
    height: 40px;
    width: 800px;
    top: 30px;
    margin-top: 30px;
}
p{
    height: 200px;
    width: 800px;
    top: 10px;
    margin-top: -10px;
}
.Untertitel{
    display: flex;
    align-items: left;
    justify-content: left;
    margin-top: 30px;
    padding-left: 30px;
}
#startimg{
    display: flex;
    align-items: left;
    justify-content: left;
    padding-left: 30px;
}
.text{
    display: grid;
    align-items: left;
    justify-content: left;
    padding-left: 30px;
}

.head{
    position: fixed;
    top: 0px;
    font-size: 20px;
    width: 850px;
    height: 40px;
    padding-left: 30px;
    margin-top: 0px;
    padding-top: 0px;
    
}


a:link{color: black;}
a:visited{color: black}
a:hover{background-color:black;
    color: white;
    font-weight: bold;
}
#philo{
    font-size: 20px;
}

/* NEWS*/





#newstable{
    border: 1px black solid;
    width: 800px;
}
.layout{
    display: grid;
    align-items: left;
    justify-content: left;
    padding-left: 30px;
}
th{
    width: 30px;
}
.container-fluid{
    display: grid;
    align-items: left;
    justify-content: left;
    padding-left: 30px;
}

/* Ranking*/

.container{
    width: 800px;
    display: block;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50px;
    padding: 0px
}
h3{
    height: 40px;
    width: 800px;
    top: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.quiz{
    display: grid;
    align-items: left;
    justify-content: left;
    margin-top: 100px;
    padding-left: 50px;
}
.Auswertung{
    display: grid;
    align-items: left;
    justify-content: left;
    padding-left: 50px;
    padding-bottom: 40px;
}
.answers{
}
.quizquestion{
    height: 70px;
}


